







<% paginate.each do |investisseur| %>
  <div class="card text-center border-info shadow h-100 py-2 col-6">
    <div class="card border-info shadow h-100 py-2">
      <div class="card-header bg-info">
    <strong>Investisseurs: <%= investisseur.raison_sociale_francais %></strong>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Raison sociale francais: <%= investisseur.raison_sociale_francais %></li>
      <li class="list-group-item">Nom prenom gerant francais: <%= investisseur.nom_prenom_gerant_francais %></li>
      <li class="list-group-item">Adresse: <%= investisseur.adresse %></li>
      <li class="list-group-item">Intitule projet francais: <%= investisseur.intitule_projet_francais %></li>
      <li class="list-group-item">Secteur activite: <%= investisseur.secteur_activite %></li>

    </ul>
    <br>
    <%= link_to '', investisseur ,class:"fas fa-tv fa-2x  btn-success btn-lg"%>
    <%= link_to '', edit_investisseur_path(investisseur),class:"fas fa-edit fa-2x btn-warning btn-lg" %>

  </div>

</div>
  </div>
<% end %>

<br>
<div class="row">
      <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>
</div>
