

<!-- Page Heading -->
<div class="row">

  <div class="col-xl-4 col-lg-5">
      <h1 class="h3 mb-2 text-gray-800">Investisseurs</h1>
  </div>
  <div class="col-xl-4 col-lg-5">
    <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
      <span class="text"><%= @investr.count%></span>
    </a>
  </div>
  <div class="col-xl-4 col-lg-5">
    <a href="<%= new_investisseur_path %>" class="btn btn-light btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
      <span class="text">Nouveau investisseur</span>
    </a>
  </div>

</div>
<br>
<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary">Statistiques</h6>
  </a>

  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample">
    <div class="card-body">
      <div class="row">

        <div class="col-xl-4 col-lg-5">
          <%= pie_chart Investisseur.group(:secteur_activite).count %>
        </div>
        <div class="col-xl-4 col-lg-5">
          <%= area_chart Investisseur.group(:filieres_industrielles).count %>
        </div>
        <div class="col-xl-4 col-lg-5">
          <%= pie_chart Investisseur.group(:localisation_projet).count %>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Investisseurs</h6>
  </div>
  <div class="card-body">

      <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>num dossier</th>
          <th>raison sociale francais</th>
          <th>raison sociale arabe</th>
          <th>nom prenom gerant arabe</th>
          <th>nom prenom gerant francais</th>


          <th></th>
          <th></th>
          <th></th>


        </tr>
        </thead>
        <tbody>
        <% @investr.each do |investisseur| %>
          <tr>

            <td><%= investisseur.num_dossier %></td>
            <td><%= investisseur.raison_sociale_francais %></td>
            <td><%= investisseur.raison_sociale_arabe %></td>
            <td><%= investisseur.nom_prenom_gerant_arabe %></td>
            <td><%= investisseur.nom_prenom_gerant_francais %></td>

            <td><%= link_to '', investisseur ,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
            <td><%= link_to '', edit_investisseur_path(investisseur) ,class:"fas fa-edit fa-2x btn-warning btn-lg"%></td>
            <td><%= link_to '', investisseur, method: :delete, data: { confirm: 'Are you sure?' },class:"fas fa-trash fa-2x btn-danger btn-lg" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

  </div>
</div>





