
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="card">

    <div class="card-body">

      <h1 style="color: #17a2b8" align="center">Recherche Avancée</h1>
      <hr>

<br>

<div class="col-xl-12 col-md-6 mb-4 res">
  <div class="card border-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">

          <%= form_tag investisseurs_search_path, method: :get do %>
            <div class="row">
              <div class="col-sm-2 align-self-start"  >
                <%= select_tag :site ,options_for_select([["Zone Industrielles","ZI"],["Hors Zones","HZ"],["Zone Activite","ZAC"],["Promotion Immobiliere","PI"],["Zone Entrepot Activites","ZEA"]] ),{prompt: "Select Type Zones",class:"form-control", required: true}%>
                <%#= select_tag :site, options_for_select(Zone.all.map{|u| [u.type_zone ] }.uniq),{prompt: "Zones",class:"form-control", required: true} %>

              </div>

              <div class="col-sm-2 align-self-center">
                <%#= text_field_tag :raison_sociale_francais, params[:raison_sociale_francais],{placeholder:"Nom Investisseur",class:"form-control"} %>
                <%= select_tag :secteur_activite, options_for_select(Investisseur.all.map{|u| [u.secteur_activite ] }.uniq),{prompt: "Secteur Activite",class:"form-control", required: true} %>

              </div>

              <div class="col-sm-2 align-self-center">
                <%#= text_field_tag :commune, params[:commune] ,{placeholder:"Commune",class:"form-control"} %>
                <%#= select_tag :commune,options_for_select([["AIN LAHDJAR","AIN LAHDJAR"],["GUELLEL","GUELLEL"],["GUEDJEL","GUEDJEL"],["TACHOUDA","TACHOUDA"],["EL HAMMA","EL HAMMA"],["AIN LAHDJAR","AIN LAHDJAR"],["AIN ABASSA","AIN ABASSA"],["AIN ARNET","AIN ARNET"]]),{prompt: "Commune",class:"form-control", required: true} %>
                <%= select_tag :commune, options_for_select(Investisseur.all.map{|u| [u.commune ] }.uniq),{prompt: "Commune",class:"form-control", required: true} %>

              </div>
              <div class="col-sm-2 align-self-start"  >
                <%= select_tag :montant_investissement ,options_for_select(Investisseur.all.map{|u| [u.montant_investissement ]}.uniq),{prompt: "M investissement superieur a ",class:"form-control",required: true}%>
                <%#= select_tag :site, options_for_select(Zone.all.map{|u| [u.type_zone ] }.uniq),{prompt: "Zones",class:"form-control", required: true} %>
                <%#= select_tag :montant_investissement ,options_for_select([["100 000",100000],["500 000",500000],["1 000 000",1000000],["5 000 000",5000000],["10 000 000",10000000]] ),{prompt: "montant investissement > a",class:"form-control", required: true}%>

              </div>
              <div class="col-sm-2 align-self-end">
                <%= submit_tag "Chercher Investisseurs ",class:"btn btn-md btn-success" %>
              </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

  <strong style="color: #5C9917">Resultat trouve <%=  @investisseurs.count   %> , Pour Site : <%=  params[:site]%> , Secteur D'activite : <%=  params[:secteur_activite]%> , Commune : <%=  params[:commune]%> , Montant D'investissement Superieur a : <%=  params[:montant_investissement]%></strong>

 <hr>
      <div class="col-xl-12 col-md-6 mb-4 res">
        <div class="card border-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">

                <%= form_tag investisseurs_search_path, method: :get do %>
                  <div class="row">
                    <div class="col-sm-2 align-self-start"  >
                      <%= select_tag :nom_zone ,options_for_select([["ZI Ancienne","ZI ANCIENNE"],["ZI Extension","ZI EXTENSION"],["Ouled Saber","OULED SABER"],["ZI El Eulma","ZI EL EULMA"]] ),{prompt: "Zones",class:"form-control", required: true}%>
                      <%#= select_tag :nom_zone, options_for_select(Lot.all.map{|u| [u.nom_zone ] }.uniq),{prompt: "Zones",class:"form-control", required: true} %>

                    </div>

                    <div class="col-sm-2 align-self-center">
                      <%#= text_field_tag :raison_sociale_francais, params[:raison_sociale_francais],{placeholder:"Nom Investisseur",class:"form-control"} %>
                      <%= select_tag :class_activite, options_for_select(Lot.all.map{|u| [u.class_activite ] }.uniq),{prompt: "Class Activite",class:"form-control", required: true} %>

                    </div>

                    <div class="col-sm-2 align-self-center">
                      <%#= text_field_tag :commune, params[:commune] ,{placeholder:"Commune",class:"form-control"} %>
                      <%#= select_tag :commune,options_for_select([["AIN LAHDJAR","AIN LAHDJAR"],["GUELLEL","GUELLEL"],["GUEDJEL","GUEDJEL"],["TACHOUDA","TACHOUDA"],["EL HAMMA","EL HAMMA"],["AIN LAHDJAR","AIN LAHDJAR"],["AIN ABASSA","AIN ABASSA"],["AIN ARNET","AIN ARNET"]]),{prompt: "Commune",class:"form-control", required: true} %>
                      <%= select_tag :type_lot, options_for_select(Lot.all.map{|u| [u.type_lot ] }.uniq),{prompt: "Type Lot",include_blank: 'None Specified',class:"form-control"} %>

                    </div>
                    <div class="col-sm-2 align-self-start"  >
                      <%= select_tag :superficie ,options_for_select(Lot.all.map{|u| [u.superficie ]}.uniq),{prompt: "Superficie superieur a ",class:"form-control",required: true}%>
                      <%#= select_tag :site, options_for_select(Zone.all.map{|u| [u.type_zone ] }.uniq),{prompt: "Zones",class:"form-control", required: true} %>
                      <%#= select_tag :montant_investissement ,options_for_select([["100 000",100000],["500 000",500000],["1 000 000",1000000],["5 000 000",5000000],["10 000 000",10000000]] ),{prompt: "montant investissement > a",class:"form-control", required: true}%>

                    </div>
                    <div class="col-sm-2 align-self-end">
                      <%= submit_tag "Chercher Lots",class:"btn btn-md btn-info" %>
                    </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <strong style="color: #17a2b8">Resultat trouve <%=  @lots.count   %> , Pour Nom Zone : <%=  params[:nom_zone]%> , Class D'activite : <%=  params[:class_activite]%> , Type Lot : <%=  params[:type_lot]%>, Superficie superieur a : <%=  params[:superficie]%> </strong>

      <hr>
<div class="row" id="table_search" style="padding: 10px">

  <% @investisseurs.each do |investisseur| %>

    <div class="card text-center border-info shadow h-100 py-2 col-6">
      <div class="card border-info shadow h-100 py-2">
      <div class="card-header bg-info">
        <strong>Investisseurs: <%= investisseur.raison_sociale_francais %></strong>
      </div>

          <div class="card-body">

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Num dossier: <%= investisseur.num_dossier %></li>
          <li class="list-group-item">Date depot demande: <%= investisseur.date_depot_demande %></li>
          <li class="list-group-item">Raison sociale arabe: <%= investisseur.raison_sociale_arabe %></li>
          <li class="list-group-item">Nom prenom gerant arabe: <%= investisseur.nom_prenom_gerant_arabe %></li>
          <li class="list-group-item">Raison sociale francais: <%= investisseur.raison_sociale_francais %></li>
          <li class="list-group-item">Nom prenom gerant francais: <%= investisseur.nom_prenom_gerant_francais %></li>
          <li class="list-group-item">Adresse: <%= investisseur.adresse %></li>
          <li class="list-group-item">Num telephone: <%= investisseur.num_telephone %></li>
          <li class="list-group-item">Fax: <%= investisseur.fax %></li>
          <li class="list-group-item">Email: <%= investisseur.email %></li>
          <li class="list-group-item">Intitule projet arabe: <%= investisseur.intitule_projet_arabe %></li>
          <li class="list-group-item">Intitule projet francais: <%= investisseur.intitule_projet_francais %></li>
          <li class="list-group-item">Secteur activite: <%= investisseur.secteur_activite %></li>

        </ul>
        <br>
        <%= link_to 'Fiche Technique', investisseur ,class:"btn btn-success col-4"%>
      </div>
            </div>

    </div>
  <% end %>

  <br></div>


      <div class="row" id="table_search" style="padding: 10px">
        <% @lots.each do |lot| %>
          <div class="card text-center border-info shadow h-100 py-2 col-6">
            <div class="card border-info shadow h-100 py-2">
            <div class="card-header bg-info">
              <strong>Lots: <%= lot.num_lot %></strong>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Num lot: <%= lot.num_lot %></li>
                <li class="list-group-item">Activite: <%= lot.activite %></li>
                <li class="list-group-item">Investisseur: <%= lot.investisseur %></li>
                <li class="list-group-item">Type lot: <%= lot.type_lot %></li>
                <li class="list-group-item">Class activite: <%= lot.class_activite %></li>
              </ul>
              <br>
              <%= link_to 'Fiche Technique', lot ,class:"btn btn-success col-4"%>
            </div>
          </div>
          </div>
        <% end %>
        <br></div>
</div>
  </div>
</div>