<div class="container">

  <div class="card">

    <div class="card-body">
      <%= link_to 'Edit', edit_investisseur_path(@investisseur) ,class:"btn btn-md btn-primary"%> |
      <%= link_to 'Back', investisseurs_path ,class:"btn btn-md btn-warning" %> |
      <%= link_to 'New investisseur', new_investisseur_path ,class:"btn btn-md btn-success"%>
      <br>
      <hr>

      <div class="card-deck">


      <p> <div class="col-sm-3">
        <div class="card bg-success">
          <div class="card-header"> <strong>Num dossier:</strong></div></div>
        <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.num_dossier %> </font></p></div>
    </div>

    <br>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date depot demande:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.date_depot_demande %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Raison sociale arabe:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.raison_sociale_arabe %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Nom prenom gerant arabe:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.nom_prenom_gerant_arabe %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Raison sociale francais:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.raison_sociale_francais %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Nom prenom gerant francais:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.nom_prenom_gerant_francais %> </font></p></div>
    </div>


    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Adresse:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.adresse %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num telephone:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.num_telephone %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Fax:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.fax %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Email:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.email %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Intitule projet arabe:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.intitule_projet_arabe %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Intitule projet francais:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.intitule_projet_francais %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Secteur activite:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.secteur_activite %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Filieres industrielles:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.filieres_industrielles %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Superficie demandee:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.superficie_demandee %> </font></p></div>
    </div>


    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Montant investissement:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.montant_investissement %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Nmbr emplois:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.nmbr_emplois %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date examen demande:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.date_examen_demande %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num decision:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.num_decision %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num lot:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.num_lot %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Superficie octroyee:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.superficie_octroyee %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Localisation projet:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">   <%= @investisseur.localisation_projet %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Commune:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.commune %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Site:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.site %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>P droits etude vrd:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.p_droits_etude_vrd %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num arrete concession:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_arrete_concession %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date arrete concession:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_arrete_concession %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Montant concession:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.montant_concession %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date paiment:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_paiment %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num acte concession:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_acte_concession %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date acte concession:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_acte_concession %> </font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num acte cession:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_acte_cession %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date acte cession:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_acte_cession %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num depot dossier permis construire:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_depot_dossier_permis_construire %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date depot dossier permis construire:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_depot_dossier_permis_construire %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Avis services:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.avis_services %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num arrete permis construire:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_arrete_permis_construire %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date arrete permis construire:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_arrete_permis_construire %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date depot dossier:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_depot_dossier %></font></p></div>
    </div>


    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date approbation eie:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_approbation_eie %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date decision creation prealabre:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_decision_creation_prealabre %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num arrete exploitation:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_arrete_exploitation %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date arrete exploitation:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_arrete_exploitation %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num depot dossier:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_depot_dossier %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Date depot dossier:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.date_depot_dossier %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Num decision andi:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.num_decision_andi %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Taux avancement traveux:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.taux_avancement_traveux %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Taux avancement investissement:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.taux_avancement_investissement %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Mise en service:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.mise_en_service %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Emplois reel:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.emplois_reel %></font></p></div>
    </div>


    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Changement status:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.changement_status %></font></p></div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-header"> <strong>Observation:</strong></div></div>
      <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @investisseur.observation %></font></p></div>
    </div>


      </div>
</div>
  </div>
</div>