
  <div class="card">

    <div class="card-body">
      <%= link_to 'Edit', edit_investisseur_path(@investisseur) ,class:"btn btn-md btn-primary"%> |
      <%= link_to 'Back', investisseurs_path ,class:"btn btn-md btn-warning" %> |
      <%= link_to 'New investisseur', new_investisseur_path ,class:"btn btn-md btn-success"%>
      <br>
      <hr>


    <br>
        <table class="table table-responsive table-striped table-hover table sortable">
          <thead>

          </thead>
          <tbody>
          <tr>
            <th >Num dossier </th>
            <td><%= @investisseur.num_dossier %></td>
          </tr>

          <tr>
            <th>Date depot demande</th>
            <td><%= @investisseur.date_depot_demande %></td>
          </tr>

          <tr>
            <th>Raison sociale arabe</th>
            <td><%= @investisseur.raison_sociale_arabe %></td>
          </tr>

          <tr>
            <th>Nom prenom gerant arabe</th>
            <td><%= @investisseur.nom_prenom_gerant_arabe %></td>
          </tr>

          <tr>
            <th>Raison sociale francais</th>
            <td><%= @investisseur.raison_sociale_francais %></td>
          </tr>
          <tr>
            <th>Nom prenom gerant francais</th>
            <td><%= @investisseur.nom_prenom_gerant_francais %></td>
          </tr>

          <tr>
            <th>Adresse</th>
            <td><%= @investisseur.adresse %></td>
          </tr>
          <tr>
            <th>Num telephone</th>
            <td><%= @investisseur.num_telephone %></td>
          </tr>
          <tr>
            <th>Fax</th>
            <td><%= @investisseur.fax %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @investisseur.email %></td>
          </tr>
          <tr>
            <th>Intitule projet arabe</th>
            <td><%= @investisseur.intitule_projet_arabe %></td>
          </tr>
          <tr>
            <th>Intitule projet francais</th>
            <td><%= @investisseur.intitule_projet_francais %></td>
          </tr>

          <tr>
            <th>Secteur activite</th>
            <td><%= @investisseur.secteur_activite %></td>
          </tr>

          <tr>
            <th>Filieres industrielles</th>
            <td><%= @investisseur.filieres_industrielles %></td>
          </tr>

          <tr>
            <th>Superficie demandee</th>
            <td><%= @investisseur.superficie_demandee %></td>
          </tr>

          <tr>
            <th>Montant investissement</th>
            <td><%= @investisseur.montant_investissement %></td>
          </tr>

          <tr>
            <th>Nmbr emplois</th>
            <td><%= @investisseur.nmbr_emplois %></td>
          </tr>

          <tr>
            <th>Date examen demande</th>
            <td><%= @investisseur.date_examen_demande %></td>
          </tr>

          <tr>
            <th>Num decision</th>
            <td><%= @investisseur.num_decision %></td>
          </tr>

          <tr>
            <th>Num lot</th>
            <td><%= @investisseur.num_lot %></td>
          </tr>

          <tr>
            <th>Superficie octroyee</th>
            <td><%= @investisseur.superficie_octroyee %></td>
          </tr>
          <tr>
            <th>Commune</th>
            <td><%= @investisseur.commune %></td>
          </tr>
          <tr>
            <th>Site</th>
            <td><%= @investisseur.site %></td>
          </tr>
          <tr>
            <th>P droits etude vrd</th>
            <td><%= @investisseur.p_droits_etude_vrd %></td>
          </tr>
          <tr>
            <th>Num arrete concession</th>
            <td><%= @investisseur.num_arrete_concession %></td>
          </tr>

          <tr>
            <th>Montant concession</th>
            <td><%= @investisseur.montant_concession %></td>
          </tr>


          <tr>
            <th>Date paiment</th>
            <td><%= @investisseur.date_paiment %></td>
          </tr>

          <tr>
            <th>Num acte concession</th>
            <td><%= @investisseur.num_acte_concession %></td>
          </tr>

          <tr>
            <th>Date acte concession</th>
            <td><%= @investisseur.date_acte_concession %></td>
          </tr>

          <tr>
            <th>Num acte cession</th>
            <td><%= @investisseur.num_acte_cession %></td>
          </tr>

          <tr>
            <th>Num depot dossier permis construire</th>
            <td><%= @investisseur.num_depot_dossier_permis_construire %></td>
          </tr>

          <tr>
            <th>Date depot dossier permis construire</th>
            <td><%= @investisseur.date_depot_dossier_permis_construire %></td>
          </tr>

          <tr>
            <th>Avis services</th>
            <td><%= @investisseur.avis_services %></td>
          </tr>
          <tr>
            <th>Num arrete permis construire</th>
            <td><%= @investisseur.num_arrete_permis_construire %></td>
          </tr>
          <tr>

            <th>Date arrete permis construire</th>
            <td><%= @investisseur.date_arrete_permis_construire %></td>
          </tr>
          <tr>
            <th>Num depot dossier permis construire</th>
            <td><%= @investisseur.num_depot_dossier_permis_construire %></td>
          </tr>
          <tr>
            <th>Date depot dossier</th>
            <td><%= @investisseur.date_depot_dossier %></td>
          </tr>

          <tr>
            <th>Date approbation eie</th>
            <td><%= @investisseur.date_approbation_eie %></td>
          </tr>

          <tr>
            <th>Date decision creation prealabre</th>
            <td><%= @investisseur.date_decision_creation_prealabre %></td>
          </tr>

          <tr>
            <th>Num arrete exploitation</th>
            <td><%= @investisseur.num_arrete_exploitation %></td>
          </tr>

          <tr>
            <th>Date arrete exploitation</th>
            <td><%= @investisseur.date_arrete_exploitation %></td>
          </tr>

          <tr>
            <th>Num depot dossier</th>
            <td><%= @investisseur.num_depot_dossier %></td>
          </tr>

          <tr>
            <th>Date depot dossier</th>
            <td><%= @investisseur.date_depot_dossier %></td>
          </tr>

          <tr>
            <th>Num decision andi</th>
            <td><%= @investisseur.num_decision_andi %></td>
          </tr>

          <tr>
            <th>Taux avancement traveux</th>
            <td><%= @investisseur.taux_avancement_traveux %></td>
          </tr>

          <tr>
            <th>Taux avancement investissement</th>
            <td><%= @investisseur.taux_avancement_investissement %></td>
          </tr>

          <tr>
            <th>Mise en service</th>
            <td><%= @investisseur.mise_en_service %></td>
          </tr>

          <tr>
            <th>Emplois reel</th>
            <td><%= @investisseur.emplois_reel %></td>
          </tr>
          <tr>
            <th>Changement status</th>
            <td><%= @investisseur.changement_status %></td>
          </tr>

          <tr>
            <th>Observation</th>
            <td><%= @investisseur.observation %></td>
          </tr>
          </tbody>
        </table>



      </div>
</div>
