
<table class="table table-responsive table-bordered table-hover table sortable">
  <thead>
  <tr>
    <th>Show</th>
    <% if can? :update, @user %>
      <th>Edit</th>
      <th>Destroy</th>
    <%end %>
    <th>Code zone</th>
    <th>Type zone</th>
    <th>Nom zone</th>
    <th>Commune</th>
    <th>Wilaya</th>
    <th>Superf total</th>
    <th>Nbr lots</th>

  </tr>
  </thead>

  <tbody>
  <% paginate.each do |zone_industrielle| %>
    <tr>
      <td><%= link_to 'Show', zone_industrielle ,class:"btn btn-success"%></td>
      <td><%= link_to 'Edit', edit_zone_industrielle_path(zone_industrielle),class:"btn btn-primary" %></td>
      <td><%= link_to 'Destroy', zone_industrielle, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      <td><%= zone_industrielle.code_zone %></td>
      <td><%= zone_industrielle.type_zone %></td>
      <td><%= zone_industrielle.nom_zone %></td>
      <td><%= zone_industrielle.commune %></td>
      <td><%= zone_industrielle.wilaya %></td>
      <td><%= zone_industrielle.superf_total %></td>
      <td><%= zone_industrielle.nbr_lots %></td>

    </tr>
  <% end %>
  </tbody>
</table>

  <div class="row">
    <div class="col-sm-6">
      <div  id="dataTables-example_info" role="status" aria-live="polite">
        <span>Affichage  <%=paginate.length%> de <%= @total%> entrées</span>
      </div>
    </div>
    <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>

  </div>
