<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Zone industrielles</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Zone industrielles</h6>
  </div>
  <div class="card-body">

    <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Code zone</th>
        <th>Type zone</th>
        <th>Nom zone</th>
        <th>Commune</th>
        <th>Wilaya</th>
        <th>Superf total</th>
        <th>Superf cessible</th>
        <th>Superf vrd</th>
        <th>Nbr lots</th>
        <th>Nbr lots attribues</th>
        <th>Observation</th>


        <th></th>
        <th></th>
        <th></th>


      </tr>
      </thead>
      <tbody>
      <% @zone_industriellez.each do |zone_industrielle| %>
        <tr>

          <td><%= zone_industrielle.code_zone %></td>
          <td><%= zone_industrielle.type_zone %></td>
          <td><%= zone_industrielle.nom_zone %></td>
          <td><%= zone_industrielle.commune %></td>
          <td><%= zone_industrielle.wilaya %></td>
          <td><%= zone_industrielle.superf_total %></td>
          <td><%= zone_industrielle.superf_cessible %></td>
          <td><%= zone_industrielle.superf_vrd %></td>
          <td><%= zone_industrielle.nbr_lots %></td>
          <td><%= zone_industrielle.nbr_lot_attribues %></td>
          <td><%= zone_industrielle.observation %></td>

          <td><%= link_to '', zone_industrielle ,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
          <td><%= link_to '', edit_zone_industrielle_path(zone_industrielle) ,class:"fas fa-edit fa-2x btn-warning btn-lg"%></td>
          <td><%= link_to '', zone_industrielle, method: :delete, data: { confirm: 'Are you sure?' },class:"fas fa-trash fa-2x btn-danger btn-lg" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>





