
  <div class="card">
    <div class="card-body">
      <div class="card-header ">

        <h1> Editing User :<%= @user.name%> </h1>
      </div>
      <div class="panel-body">
        <hr>
        <%= link_to 'Fiche Technique', @user,class:"btn btn-md btn-success" %> |
        <%= link_to 'Retour', users_path ,class:"btn btn-md btn-warning"%>
        <hr>
        <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this provider from being saved:</h2>

              <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <br>
          <div class="col-4 field">
            <%= f.label :name %>
            <%= f.text_field :name, id: :user_name ,class:"form-control"%>
          </div>
          <br>
          <div class="col-4 field">
            <%= f.label :email %>
            <%= f.text_field :email, id: :user_email ,class:"form-control"%>
          </div>
          <br>
          <div class="col-4 field">
            <%= f.label :role %><br />
            <%= f.select :role, options_for_select([["Admin","admin"],["Utilisateur","utilisateur"],["Public","public"]]),{},class:"form-control"%>
          </div>
          <br>
          <div class="col-4 field">
            <%= f.label :photo %>
            <%= f.file_field :photo,class:"form-control" %>
          </div>
          <hr>
          <div class="actions">
            <%= f.submit class:"btn btn-md btn-success pull-right" %>
          </div>
          <br>
        <% end %>

      </div>
    </div>
  </div>
