<p id="notice"><%= notice %></p>

<h1>Anciennes</h1>

<table>
  <thead>
    <tr>
      <th>N de lot</th>
      <th>N dossier</th>
      <th>R socia ar</th>
      <th>R socia fr</th>
      <th>Geom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anciennes.each do |ancienne| %>
      <tr>
        <td><%= ancienne.n_de_lot %></td>
        <td><%= ancienne.n_dossier %></td>
        <td><%= ancienne.r_socia_ar %></td>
        <td><%= ancienne.r_socia_fr %></td>
        <td><%= ancienne.geom %></td>
        <td><%= link_to 'Show', ancienne %></td>
        <td><%= link_to 'Edit', edit_ancienne_path(ancienne) %></td>
        <td><%= link_to 'Destroy', ancienne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ancienne', new_ancienne_path %>
