<%= form_with(model: promotion_immobiliere, local: true) do |form| %>
  <% if promotion_immobiliere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion_immobiliere.errors.count, "error") %> prohibited this promotion_immobiliere from being saved:</h2>

      <ul>
      <% promotion_immobiliere.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-deck">
  <div class="col-3 field">
    <%= form.label :code_zone %>
    <%= form.text_field :code_zone ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :type_zone %>
    <%= form.text_field :type_zone,class:"form-control" %>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :nom_zone %>
    <%= form.text_field :nom_zone ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :commune %>
    <%= form.text_field :commune ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :wilaya %>
    <%= form.text_field :wilaya ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :num_arrete_creation %>
    <%= form.number_field :num_arrete_creation ,class:"form-control" %>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :dat_arrete_creation %>
    <%#= form.date_select :dat_arrete_creation,class:"form-control" %>
    <%= form.text_field :date_arrete_creation, class: 'datepicker form-control', 'data-date-format'=>"dd/mm/yyyy", required: true, id:'date',tabindex:"1"  %>

  </div>
<br>
  <div class="col-3 field">
    <%= form.label :superf_total %>
    <%= form.text_field :superf_total ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :superf_cessible %>
    <%= form.text_field :superf_cessible,class:"form-control" %>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :superf_vrd %>
    <%= form.text_field :superf_vrd ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :nbr_lots %>
    <%= form.number_field :nbr_lots ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :nbr_lot_attribues %>
    <%= form.number_field :nbr_lot_attribues ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :nbr_lot_cession %>
    <%= form.number_field :nbr_lot_cession ,class:"form-control"%>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :nbr_lot_concession %>
    <%= form.number_field :nbr_lot_concession,class:"form-control" %>
  </div>
<br>
  <div class="col-3 field">
    <%= form.label :observation %>
    <%= form.text_area :observation ,class:"form-control"%>
  </div>
<br>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
<br>

<script>
    $(function() {
        $( "#date" ).datepicker({
            dateFormat : 'mm/dd/yy',
            changeMonth : true,
            changeYear : true,
            yearRange: '-100y:c+nn',
            maxDate: '-1d'
        });
    });

</script>

<script>
    var e3 = document.getElementById('date');
    if(e3) {
        e3.addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,2})(\d{0,4})/);
            e.target.value = (x[1] ? x[1] : '') + (x[2] ? '/' + x[2] : '') + (x[3] ? '/' + x[3] : '');
        });}
</script>