



<table class="table table-responsive table-bordered table-hover table sortable">
  <thead>
  <tr>
    <th>Detail</th>
    <% if can? :update, @user %>
      <th>Modifier</th>
    <%end %>
    <th>Code zone</th>
    <th>Type zone</th>
    <th>Nom zone</th>
    <th>Commune</th>
    <th>Wilaya</th>
    <th>Superf total</th>
    <th>Superf cessible</th>
    <th>Superf vrd</th>
    <th>Nbr lots</th>
    <th>Nbr lots attribues</th>
    <th>Observation</th>

  </tr>
  </thead>

  <tbody>
  <% paginate.each do |promotion_immobiliere| %>
    <tr>
      <td><%= link_to 'Fiche Technique', promotion_immobiliere ,class:"btn btn-success"%></td>
      <% if can? :update, @user %>
    <td><%= link_to 'Mise A Jour', edit_promotion_immobiliere_path(promotion_immobiliere) ,class:"btn btn-primary"%></td>
      <%#= link_to 'Supprimer', promotion_immobiliere, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
      <%end %>
      <td><%= promotion_immobiliere.code_zone %></td>
      <td><%= promotion_immobiliere.type_zone %></td>
      <td><%= promotion_immobiliere.nom_zone %></td>
      <td><%= promotion_immobiliere.commune %></td>
      <td><%= promotion_immobiliere.wilaya %></td>
      <td><%= promotion_immobiliere.superf_total %></td>
      <td><%= promotion_immobiliere.superf_cessible %></td>
      <td><%= promotion_immobiliere.superf_vrd %></td>
      <td><%= promotion_immobiliere.nbr_lots %></td>
      <td><%= promotion_immobiliere.nbr_lot_attribues %></td>
      <td><%= promotion_immobiliere.observation %></td>

    </tr>
  <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="col-sm-6">
    <div  id="dataTables-example_info" role="status" aria-live="polite">
      <span>Affichage  <%=paginate.length%> de <%= @total%> entrées</span>
    </div>
  </div>
      <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>

</div>