
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Promotion immobilieres</h6>
  </div>
  <div class="card-body">

    <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Code zone</th>
        <th>Type zone</th>
        <th>Nom zone</th>
        <th>Commune</th>
        <th>Wilaya</th>
        <th>Superf total</th>
        <th>Superf cessible</th>
        <th>Superf vrd</th>
        <th>Nbr lots</th>
        <th>Nbr lots attribues</th>
        <th>Observation</th>


        <th></th>
        <th></th>
        <th></th>


      </tr>
      </thead>
      <tbody>
      <% @promotion_immobilierez.each do |promotion_immobiliere| %>
        <tr>

          <td><%= promotion_immobiliere.code_zone %></td>
          <td><%= promotion_immobiliere.type_zone %></td>
          <td><%= promotion_immobiliere.nom_zone %></td>
          <td><%= promotion_immobiliere.commune %></td>
          <td><%= promotion_immobiliere.wilaya %></td>
          <td><%= promotion_immobiliere.superf_total %></td>
          <td><%= promotion_immobiliere.superf_cessible %></td>
          <td><%= promotion_immobiliere.superf_vrd %></td>
          <td><%= promotion_immobiliere.nbr_lots %></td>
          <td><%= promotion_immobiliere.nbr_lot_attribues %></td>
          <td><%= promotion_immobiliere.observation %></td>

          <td><%= link_to '', promotion_immobiliere ,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
          <td><%= link_to '', edit_promotion_immobiliere_path(promotion_immobiliere) ,class:"fas fa-edit fa-2x btn-warning btn-lg"%></td>
          <td><%= link_to '', promotion_immobiliere, method: :delete, data: { confirm: 'Are you sure?' },class:"fas fa-trash fa-2x btn-danger btn-lg" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>





