

  <div class="card">

    <div class="card-body">



<%= link_to 'Edit', edit_promotion_immobiliere_path(@promotion_immobiliere) ,class:"btn btn-primary"%> |
<%= link_to 'Back', promotion_immobilieres_path,class:"btn btn-warning" %> |
<%= link_to 'New Promotion immobiliere', new_promotion_immobiliere_path ,class:"btn btn-md btn-success"%> |
<%= link_to 'INVESTISSEURS', investisseurs_path ,class:"btn btn-md btn-danger"%> |
<%= link_to 'LOTS', lots_path ,class:"btn btn-md btn-primary"%>

      <br>
      <hr>

      <div class="card-deck">
        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Code zone:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green"><%= @promotion_immobiliere.code_zone %> </font></p></div>
        </div>


        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Type:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green"><%= @promotion_immobiliere.type_zone %> </font></p></div>
        </div>


        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Nom zone:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green"> <%= @promotion_immobiliere.nom_zone %> </font></p></div>
        </div>


        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Commune:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.commune %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Wilaya:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.wilaya %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Num arrete creation:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.num_arrete_creation %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Dat arrete creation:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.dat_arrete_creation %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Superf total:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.superf_total %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Superf cessible:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.superf_cessible %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Superf vrd:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.superf_vrd %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Nbr lots:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.nbr_lots %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Nbr lot attribues:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.nbr_lot_attribues %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Nbr lot cession:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.nbr_lot_cession %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Nbr lot concession:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.nbr_lot_concession %> </font></p></div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success">
            <div class="card-header"> <strong>Observation:</strong></div></div>
          <div class="card-body"><p class="text-center" ><font size="4" color="green">  <%= @promotion_immobiliere.observation %> </font></p></div>
        </div>


      </div>
    </div>
  </div>


