<p id="notice"><%= notice %></p>

<p>
  <strong>Code zone:</strong>
  <%= @promotion_immobiliere.code_zone %>
</p>

<p>
  <strong>Type zone:</strong>
  <%= @promotion_immobiliere.type_zone %>
</p>

<p>
  <strong>Nom zone:</strong>
  <%= @promotion_immobiliere.nom_zone %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @promotion_immobiliere.commune %>
</p>

<p>
  <strong>Wilaya:</strong>
  <%= @promotion_immobiliere.wilaya %>
</p>

<p>
  <strong>Num arrete creation:</strong>
  <%= @promotion_immobiliere.num_arrete_creation %>
</p>

<p>
  <strong>Dat arrete creation:</strong>
  <%= @promotion_immobiliere.dat_arrete_creation %>
</p>

<p>
  <strong>Superf total:</strong>
  <%= @promotion_immobiliere.superf_total %>
</p>

<p>
  <strong>Superf cessible:</strong>
  <%= @promotion_immobiliere.superf_cessible %>
</p>

<p>
  <strong>Superf vrd:</strong>
  <%= @promotion_immobiliere.superf_vrd %>
</p>

<p>
  <strong>Nbr lots:</strong>
  <%= @promotion_immobiliere.nbr_lots %>
</p>

<p>
  <strong>Nbr lot attribues:</strong>
  <%= @promotion_immobiliere.nbr_lot_attribues %>
</p>

<p>
  <strong>Nbr lot cession:</strong>
  <%= @promotion_immobiliere.nbr_lot_cession %>
</p>

<p>
  <strong>Nbr lot concession:</strong>
  <%= @promotion_immobiliere.nbr_lot_concession %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @promotion_immobiliere.observation %>
</p>

<%= link_to 'Edit', edit_promotion_immobiliere_path(@promotion_immobiliere) %> |
<%= link_to 'Back', promotion_immobilieres_path %>
