

  <div class="card">

    <div class="card-body">

      <h1>Promotion Immobiliere: <%= @promotion_immobiliere.nom_zone %></h1>
      <hr>

<%= link_to 'Edit', edit_promotion_immobiliere_path(@promotion_immobiliere) ,class:"btn btn-primary"%> |
<%= link_to 'Back', promotion_immobilieres_path,class:"btn btn-warning" %> |
<% link_to 'New Promotion immobiliere', new_promotion_immobiliere_path ,class:"btn btn-md btn-success"%>
<%= link_to 'INVESTISSEURS', investisseurs_path ,class:"btn btn-md btn-danger"%> |
<%= link_to 'LOTS', lots_path ,class:"btn btn-md btn-primary"%> |
      <%= link_to 'STATISTIQUES', "static/#{@promotion_immobiliere.id}" ,class:"btn btn-md btn-success"%>


      <br>
      <hr>
      <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-3 col-lg-4">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->

            <!-- Card Body -->
            <div class="card-body">
      <table class="table table-responsive table-striped table-hover table sortable">
        <thead>

        </thead>
        <tbody>
        <tr>
          <th>Code zone</th>
          <td><%= @promotion_immobiliere.code_zone %></td>
        </tr>

        <tr>
          <th>Type zone</th>
          <td><%= @promotion_immobiliere.type_zone %></td>
        </tr>

        <tr>
          <th>Nom zone</th>
          <td><%= @promotion_immobiliere.nom_zone %></td>
        </tr>

        <tr>
          <th>Commune</th>
          <td><%= @promotion_immobiliere.commune %></td>
        </tr>

        <tr>
          <th>Wilaya</th>
          <td><%= @promotion_immobiliere.wilaya %></td>
        </tr>
        <tr>
          <th>Num arrete creation</th>
          <td><%= @promotion_immobiliere.num_arrete_creation %></td>
        </tr>

        <tr>
          <th>Dat arrete creation</th>
          <td><%= @promotion_immobiliere.dat_arrete_creation %></td>
        </tr>
        <tr>
          <th>Superf total</th>
          <td><%= @promotion_immobiliere.superf_total %></td>
        </tr>
        <tr>
          <th>Superf cessible</th>

          <td><%= @promotion_immobiliere.superf_cessible %></td>
        </tr>
        <tr>
          <th>Superf vrd</th>
          <td><%= @promotion_immobiliere.superf_vrd %></td>
        </tr>

        <tr>
          <th>Nbr lots</th>
          <td><%= @promotion_immobiliere.nbr_lots %></td>
        </tr>
        <tr>
          <th>Nbr lot attribues</th>
          <td><%= @promotion_immobiliere.nbr_lot_attribues %></td>
        </tr>
        <tr>
          <th>Nbr lot cession</th>
          <td><%= @promotion_immobiliere.nbr_lot_cession %></td>
        </tr>
        <tr>
          <th>Nbr lot concession</th>
          <td><%=  @promotion_immobiliere.nbr_lot_concession %></td>
        </tr>
        <tr>
          <th>Observation</th>
          <td><%= @promotion_immobiliere.observation %></td>
        </tr>


        </tbody>
      </table>
            </div>
          </div>
        </div>

        <div class="col-xl-9 col-lg-10">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-area">
                <div id="map">
                  <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      </div>
    </div>



