

  <div class="card">

    <div class="card-body">

      <h1>promotion_immobiliere: <%= @promotion_immobiliere.nom_zone %></h1>
      <hr>

<%= link_to 'Edit', edit_promotion_immobiliere_path(@promotion_immobiliere) ,class:"btn btn-primary"%> |
<%= link_to 'Back', promotion_immobilieres_path,class:"btn btn-warning" %> |
<% link_to 'New Promotion immobiliere', new_promotion_immobiliere_path ,class:"btn btn-md btn-success"%>
<%= link_to 'INVESTISSEURS', investisseurs_path ,class:"btn btn-md btn-danger"%> |
<%= link_to 'LOTS', lots_path ,class:"btn btn-md btn-primary"%>

      <br>
      <hr>
      <table class="table table-responsive table-striped table-hover table sortable">
        <thead>

        </thead>
        <tbody>
        <tr>
          <th>Code zone</th>
          <td><%= @promotion_immobiliere.code_zone %></td>
        </tr>

        <tr>
          <th>Type zone</th>
          <td><%= @promotion_immobiliere.type_zone %></td>
        </tr>

        <tr>
          <th>Nom zone</th>
          <td><%= @promotion_immobiliere.nom_zone %></td>
        </tr>

        <tr>
          <th>Commune</th>
          <td><%= @promotion_immobiliere.commune %></td>
        </tr>

        <tr>
          <th>Wilaya</th>
          <td><%= @promotion_immobiliere.wilaya %></td>
        </tr>
        <tr>
          <th>Num arrete creation</th>
          <td><%= @promotion_immobiliere.num_arrete_creation %></td>
        </tr>

        <tr>
          <th>Dat arrete creation</th>
          <td><%= @promotion_immobiliere.dat_arrete_creation %></td>
        </tr>
        <tr>
          <th>Superf total</th>
          <td><%= @promotion_immobiliere.superf_total %></td>
        </tr>
        <tr>
          <th>Superf cessible</th>

          <td><%= @promotion_immobiliere.superf_cessible %></td>
        </tr>
        <tr>
          <th>Superf vrd</th>
          <td><%= @promotion_immobiliere.superf_vrd %></td>
        </tr>

        <tr>
          <th>Nbr lots</th>
          <td><%= @promotion_immobiliere.nbr_lots %></td>
        </tr>
        <tr>
          <th>Nbr lot attribues</th>
          <td><%= @promotion_immobiliere.nbr_lot_attribues %></td>
        </tr>
        <tr>
          <th>Nbr lot cession</th>
          <td><%= @promotion_immobiliere.nbr_lot_cession %></td>
        </tr>
        <tr>
          <th>Nbr lot concession</th>
          <td><%=  @promotion_immobiliere.nbr_lot_concession %></td>
        </tr>
        <tr>
          <th>Observation</th>
          <td><%= @promotion_immobiliere.observation %></td>
        </tr>


        </tbody>
      </table>

      </div>
    </div>



