



<table class="table table-responsive table-bordered table-hover table sortable">
  <thead>
  <tr>
    <th>Detail</th>
    <% if can? :update, @user %>
      <th>Modifier</th>

    <%end %>
    <th>Code zone</th>
    <th>Zone</th>
    <th>Nom zone</th>
    <th>Commune</th>
    <th>Wilaya</th>
    <th>Superf total</th>
    <th>Nbr lots</th>
  </tr>
  </thead>

  <tbody>
  <% paginate.each do |hors_zone| %>
    <tr>
      <td><%= link_to 'Fiche Technique', hors_zone ,class:"btn btn-success"%></td>
      <% if can? :update, @user %>
    <td><%= link_to 'Mise A Jour', edit_hors_zone_path(hors_zone) ,class:"btn btn-primary"%></td>
      <%#= link_to 'Supprimer', hors_zone, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
      <%end %>
      <td><%= hors_zone.code_zone %></td>
      <td><%= hors_zone.type_zone %></td>
      <td><%= hors_zone.nom_zone %></td>
      <td><%= hors_zone.commune %></td>
      <td><%= hors_zone.wilaya %></td>
      <td><%= hors_zone.superf_total %></td>
      <td><%= hors_zone.nbr_lots %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <div  id="dataTables-example_info" role="status" aria-live="polite">
      <span>Affichage  <%=paginate.length%> de <%= @total%> entrées</span>
    </div>
  </div>
      <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>

</div>