



<table class="table table-responsive table-bordered table-striped table-hover table sortable">
  <thead>
  <tr>
    <th>Show</th>
    <% if can? :update, @user %>
      <th>Edit</th>
      <th>Destroy</th>
    <%end %>
    <th>Code zone</th>
    <th>Type zone</th>
    <th>Nom zone</th>



  </tr>
  </thead>

  <tbody>
  <% paginate.each do |hors_zone| %>
    <tr>
      <td><%= link_to 'Show', hors_zone ,class:"btn btn-success"%></td>
      <td><%= link_to 'Edit', edit_hors_zone_path(hors_zone) ,class:"btn btn-primary"%></td>
      <td><%= link_to 'Destroy', hors_zone, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      <td><%= hors_zone.code_zone %></td>
      <td><%= hors_zone.type_zone %></td>
      <td><%= hors_zone.nom_zone %></td>


    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <div  id="dataTables-example_info" role="status" aria-live="polite">
      <span>Affichage  <%=paginate.length%> de <%= @total%> entrées</span>
    </div>
  </div>
      <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>

</div>