
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Hors zones</h6>
  </div>
  <div class="card-body">

    <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Code zone</th>
        <th>Type zone</th>
        <th>Nom zone</th>
        <th>Commune</th>
        <th>Wilaya</th>
        <th>Superf total</th>
        <th>Superf cessible</th>
        <th>Superf vrd</th>
        <th>Nbr lots</th>
        <th>Nbr lots attribues</th>
        <th>Observation</th>


        <th></th>
        <th></th>
        <th></th>


      </tr>
      </thead>
      <tbody>
      <% @hors_zonez.each do |hors_zone| %>
        <tr>

          <td><%= hors_zone.code_zone %></td>
          <td><%= hors_zone.type_zone %></td>
          <td><%= hors_zone.nom_zone %></td>
          <td><%= hors_zone.commune %></td>
          <td><%= hors_zone.wilaya %></td>
          <td><%= hors_zone.superf_total %></td>
          <td><%= hors_zone.superf_cessible %></td>
          <td><%= hors_zone.superf_vrd %></td>
          <td><%= hors_zone.nbr_lots %></td>
          <td><%= hors_zone.nbr_lot_attribues %></td>
          <td><%= hors_zone.observation %></td>

          <td><%= link_to '', hors_zone ,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
          <td><%= link_to '', edit_hors_zone_path(hors_zone) ,class:"fas fa-edit fa-2x btn-warning btn-lg"%></td>
          <td><%= link_to '', hors_zone, method: :delete, data: { confirm: 'Are you sure?' },class:"fas fa-trash fa-2x btn-danger btn-lg" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>





