<div class="card">
  <div class="card-body">
    <div class="card-header ">


<h1>Hors Zones</h1>
    </div>
    <hr>
<%= link_to 'New Hors Zone', new_hors_zone_path ,class:"btn btn-success"%>
    <hr>


    <%= form_tag '/hors_zones', method: :get do %>
      <div class="row">
        <div class="col align-self-start"  >

          <strong >Debut </strong><%= text_field_tag :start_date, session[:start_pub] , class: 'datepicker form-control date', 'data-date-format'=>"dd/mm/yyyy", required: true  %>

        </div>

        <div class="col align-self-center">

          <strong>Fin</strong><%= text_field_tag :end_date, session[:end_pub] , class: 'datepicker form-control date', 'data-date-format'=>"dd/mm/yyyy", required: true %>

        </div>

        <br>
        <div class="col align-self-end">
          <%= submit_tag 'Filter' ,class: 'btn btn-primary '%>
        </div>
        <br>
    <%end%>
    </div>
    <hr>


    <div class="row">
      <div class="col-sm-12">


        <div class="row">
          <div class="col-sm-9">

            <div class="dataTables_length input-group" id="example_length">
              <div class="col-sm-2">
                <span>Voir</span>
              </div>

              <div class="col-sm-6" style="margin-left: 10px">
                <%= select_tag(:count,options_for_select([10,25,50], selected: session[:per_pages]),class:"form-control input-sm", onchange:"SelectSearch(id,'hors_zones','')", id:"select" )%>
              </div>
              <span>entrées</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="example_filter" class="dataTables_filter">
              <%= search_field_tag "search_champ",session[:data] ,{class:"form-control input-sm",placeholder:"Chercher",onKeyUp:"SelectSearch(id,'hors_zones','')" }%>
            </div>
          </div>
        </div>
        <hr>
        <div class="row" id="table_search" style="padding: 10px">
          <%= render(:partial => 'index', locals: {paginate: @paginate})%>
        </div>
      </div>
    </div>
  </div>
</div>
