


  <div class="card">

    <div class="card-body">

      <h1>Hors Zones: <%= @hors_zone.nom_zone %></h1>
<hr>
      <%= link_to 'Edit', edit_hors_zone_path(@hors_zone) ,class:"btn btn-md btn-primary"%> |
      <%= link_to 'Back', hors_zones_path ,class:"btn btn-md btn-warning"%> |
      <% link_to 'New hors zone', new_hors_zone_path ,class:"btn btn-md btn-success"%>
      <%= link_to 'INVESTISSEURS', investisseurs_path ,class:"btn btn-md btn-danger"%> |
      <%= link_to 'LOTS', lots_path ,class:"btn btn-md btn-primary"%>

      <br>
      <hr>
      <table class="table table-responsive table-striped table-hover table sortable">
        <thead>

        </thead>
        <tbody>
        <tr>
          <th>Code zone</th>
          <td><%= @hors_zone.code_zone %></td>
        </tr>

        <tr>
          <th>Type zone</th>
          <td><%= @hors_zone.type_zone %></td>
        </tr>

        <tr>
          <th>Nom zone</th>
          <td><%= @hors_zone.nom_zone %></td>
        </tr>

        <tr>
          <th>Commune</th>
          <td><%= @hors_zone.commune %></td>
        </tr>

        <tr>
          <th>Wilaya</th>
          <td><%= @hors_zone.wilaya %></td>
        </tr>
        <tr>
          <th>Num arrete creation</th>
          <td><%= @hors_zone.num_arrete_creation %></td>
        </tr>

        <tr>
          <th>Dat arrete creation</th>
          <td><%= @hors_zone.dat_arrete_creation %></td>
        </tr>
        <tr>
          <th>Superf total</th>
          <td><%= @hors_zone.superf_total %></td>
        </tr>
        <tr>
          <th>Superf cessible</th>
          <td><%= @hors_zone.superf_cessible %></td>
        </tr>
        <tr>
          <th>Superf vrd</th>
          <td><%= @hors_zone.superf_vrd %></td>
        </tr>

        <tr>
          <th>Nbr lots</th>
          <td><%= @hors_zone.nbr_lots %></td>
        </tr>
        <tr>
          <th>Nbr lot attribues</th>
          <td><%= @hors_zone.nbr_lot_attribues %></td>
        </tr>
        <tr>
          <th>Nbr lot cession</th>
          <td><%= @hors_zone.nbr_lot_cession %></td>
        </tr>
        <tr>
          <th>Nbr lot concession</th>
          <td><%=  @hors_zone.nbr_lot_concession %></td>
        </tr>
        <tr>
          <th>Observation</th>
          <td><%= @hors_zone.observation %></td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>

