


<!-- The sign in Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">

                        <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Soyer le bienvenue</h1>
                        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "user"}) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control form-control-user",placeholder: "Enter Email Address..." %>
          </div>
<br>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password",class:"form-control form-control-user",placeholder: "Password" %>
          </div>
<br>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
<br>
          <div class="actions">
            <%= f.submit "Connexion",class: "btn btn-primary btn-user btn-block" %>
          </div>
          <hr>
          <a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Se connecter avec Google
          </a>
          <a href="https://web.facebook.com/?_rdc=1&_rdr" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Se connecter avec Facebook
          </a>
        <% end %>
        <hr>
        <div class="text-center">
          <a class="small" href="forgot-password.html"></a>
        </div>
        <div class="text-center">
          <a class="small" href="register.html"></a>
        </div>
        <%= render "devise/shared/links" %>
      </div>


    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
    </div>
  </div>
  </div>


<!DOCTYPE html>
<html lang="en">

<head>

  <title>SIG App</title>
  <%= stylesheet_link_tag "vendor/bootstrapa/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "vendor/fontawesome-free/css/all.min.css" %>
  <!-- Bootstrap core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "css/agency.min.css" %>
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">SIG App</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Historique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Equipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <i>Se connecter</i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">bienvenue chez nous!</div>
      <div class="intro-heading text-uppercase">système d'information géographique </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Savoir plus</a>
    </div>
  </div>
</header>

<!-- Services -->
<section id="services">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
          <span class="fa-stack fa-10x">
            <%= image_tag ("effic.png"), class: "img-fluid"%>
          </span>
        <h4 class="service-heading">Gestion Fiable de l'information</h4>
        <p class="text-muted">Travailler avec votre propre appareil : cela peut paraître facile, mais les appareils mobiles nécessitent une protection supplémentaire.</p>
      </div>
      <div class="col-md-4">
          <span class="fa-stack fa-10x">
            <%= image_tag ("images (1).jpg"), class: "img-fluid"%>
          </span>
        <h4 class="service-heading">Diffusion de l'information</h4>
       <p class="text-muted">La diffusion se définit par la communication de l’information et peut prendre plusieurs formes.</p>
      </div>
      <div class="col-md-4">
          <span class="fa-stack fa-10x">
            <%= image_tag ("efficase.jpg"), class: "img-fluid"%>
          </span>
        <h4 class="service-heading">Efficacité</h4>
        <p class="text-muted">L'efficacité est la capacité, d'une personne, d'un groupe ou d'un système, à parvenir à ses fins, à ses objectifs.</p>
      </div>
    </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Projects</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag ("01-thumbnail.jpg"), class: "img-fluid"%>
        </a>
        <div class="portfolio-caption">
          <h4>Threads</h4>
          <p class="text-muted">Illustration</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag ("02-thumbnail.jpg"), class: "img-fluid"%>
        </a>
        <div class="portfolio-caption">
          <h4>Explore</h4>
          <p class="text-muted">Graphic Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag ("03-thumbnail.jpg"), class: "img-fluid"%>
        </a>
        <div class="portfolio-caption">
          <h4>Finish</h4>
          <p class="text-muted">Identity</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag ("04-thumbnail.jpg"), class: "img-fluid"%>
        </a>
        <div class="portfolio-caption">
          <h4>Lines</h4>
          <p class="text-muted">Branding</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag ("05-thumbnail.jpg"), class: "img-fluid"%>
        </a>
        <div class="portfolio-caption">
          <h4>Southwest</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag ("06-thumbnail.jpg"), class: "img-fluid"%>
        </a>
        <div class="portfolio-caption">
          <h4>Window</h4>
          <p class="text-muted">Photography</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Historique</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag ("3.jpg"), class: "rounded-circle img-fluid"%>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 ></h4>
                <h4 class="subheading" style="text-align: left">1960 La première histoire des SIG</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="text-align: left" >Le domaine des systèmes d’information géographique (SIG) a débuté dans les années 1960 avec l’émergence des ordinateurs et des premiers concepts de géographie quantitative et informatique. Les premiers travaux sur les SIG comprenaient d'importantes recherches menées par la communauté universitaire. Plus tard, le Centre national d’information et d’analyse géographiques, dirigé par Michael Goodchild, a officialisé la recherche sur des thèmes clés de la science de l’information géographique tels que l’analyse spatiale et la visualisation. Ces efforts ont alimenté une révolution quantitative dans le monde de la science géographique et jeté les bases du SIG.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag ("3.jpg"), class: "rounded-circle img-fluid"%>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4></h4>
                <h4 class="subheading" style="text-align: left">1963 Le premier SIG</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="text-align: left">Les travaux pionniers de Roger Tomlinson pour créer, planifier et développer le système d’information géographique du Canada ont abouti au premier SIG informatisé au monde en 1963. Le gouvernement canadien avait chargé Tomlinson de créer un inventaire de ses ressources naturelles. Il a envisagé d'utiliser des ordinateurs pour fusionner des données sur les ressources naturelles de toutes les provinces. Tomlinson a créé la conception de l'informatique automatisée pour stocker et traiter de grandes quantités de données, ce qui a permis au Canada de lancer son programme national de gestion de l'utilisation des terres. Il a également donné son nom au SIG.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag ("3.jpg"), class: "rounded-circle img-fluid"%>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4></h4>
                <h4 class="subheading" style="text-align: left">1965 Le laboratoire d'Harvard </h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="text-align: left">Alors qu’il travaillait à la Northwestern University en 1964, Howard Fisher a créé l’un des premiers logiciels de cartographie informatique appelé SYMAP. En 1965, il a créé le laboratoire d’Harvard pour l’infographie. Les premiers logiciels informatiques de cartographie ont été créés et améliorés au laboratoire, mais ils sont également devenus un centre de recherche pour l'analyse spatiale et la visualisation. La plupart des premiers concepts de SIG et de ses applications ont été conçus au laboratoire par une talentueuse équipe de géographes, urbanistes, informaticiens et autres spécialistes de nombreux domaines.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag ("3.jpg"), class: "rounded-circle img-fluid"%>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4></h4>
                <h4 class="subheading" style="text-align: left">1969 Esri est fondée</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="text-align: left">En 1969, Jack Dangermond, membre du laboratoire d’Harvard, et son épouse Laura fondèrent Environmental Systems Research Institute, Inc. (Esri). La société de conseil a appliqué la cartographie informatique et l'analyse spatiale pour aider les planificateurs de l'utilisation des sols et les gestionnaires des ressources foncières à prendre des décisions éclairées. Les premiers travaux de la société ont démontré l’utilité des SIG pour la résolution de problèmes. Esri a ensuite développé de nombreuses méthodes de cartographie SIG et d’analyse spatiale actuellement utilisées. Ces résultats ont suscité un intérêt plus général pour les outils logiciels et les flux de travail de la société, qui sont désormais standard pour les SIG.</p>
              </div>
            </div>
          </li>
          <li class="timeline-image">
            <div class="timeline-image">
              <%= image_tag ("3.jpg"), class: "rounded-circle img-fluid"%>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4></h4>
                <h4 class="subheading" style="text-align: left">1981 Le SIG devient commercial</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="text-align: left">À mesure que l'informatique devenait plus puissante, Esri améliora ses outils logiciels. Travailler sur des projets qui résolvent des problèmes concrets ont conduit l'entreprise à innover et à développer de solides outils et approches SIG pouvant être largement utilisés. Les travaux d’Esri ont été reconnus par la communauté universitaire comme une nouvelle façon de procéder à l’analyse et à la planification spatiales. Désireux d'analyser plus efficacement un nombre croissant de projets, Esri a mis au point ARC / INFO, le premier produit SIG commercial. La technologie a été lancée en 1981 et c’est à partir de cette date qu’a commencé l'évolution d'Esri comme société éditrice de logiciels.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag ("3.jpg"), class: "rounded-circle img-fluid"%>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4></h4>
                <h4 class="subheading" style="text-align: left">Le SIG aujourd'hui</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="text-align: left">Les SIG permettent aux utilisateurs de créer leurs propres couches de cartes afin de résoudre des problèmes concrets. Les SIG ont également évolué pour devenir un moyen de partage de données et de collaboration, inspirant une vision qui devient aujourd’hui une réalité - une base de données SIG qui couvre pratiquement tous les sujets. Aujourd'hui, des centaines de milliers d'organisations partagent leur travail et créent des millions de cartes chaque jour pour raconter des histoires et révéler des modèles, des tendances et des relations sur tous les sujets.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Equipe</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag ("1.jpg"), class: "rounded-circle img-fluid"%>
          <h4>Kay Garland</h4>
          <p class="text-muted">Lead Designer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag ("2.jpg"), class: "rounded-circle img-fluid"%>
          <h4>Larry Parker</h4>
          <p class="text-muted">Lead Marketer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag ("1.jpg"), class: "rounded-circle img-fluid"%>
          <h4>Diana Pertersen</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>


<!-- Clients -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag ("creative-market.jpg"), class: "img-fluid d-block mx-auto"%>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">

          <%= image_tag ("themeforest.jpg"), class: "img-fluid d-block mx-auto"%>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag ("creative-market.jpg"), class: "img-fluid d-block mx-auto"%>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">

          <%= image_tag ("themeforest.jpg"), class: "img-fluid d-block mx-auto"%>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contactez nous</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form
          action="https://formspree.io/mledkarr"
          method="POST"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">

                <input class="form-control" id="name" name="full name" type="text" placeholder="Nom et Prénom *" required="required" data-validation-required-message="S'il vous plaît entrez votre nom.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" name="Email" type="email" placeholder="Votre Email *" required="required" data-validation-required-message="S'il vous plaît entrer votre adresse email.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" name="Numero Tel" type="tel" placeholder="Votre n° Portable *" required="required" data-validation-required-message="S'il vous plait, entrez votre numéro de téléphone.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" name="message" placeholder="Votre Message *" required="required" data-validation-required-message="S'il vous plaît entrer un message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Envoyer Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; SIG App 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Zones Industrielles</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <%= image_tag ("ziSetif.jpg"), class: "img-fluid"%>
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Threads</li>
                <li>Category: Illustration</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Zones D'activités</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <%= image_tag ("fonciersetif.jpg"), class: "img-fluid"%>
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Explore</li>
                <li>Category: Graphic Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Projets D'investissement Hors Zones</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <%= image_tag ("hors_zone.jpg"), class: "img-fluid"%>
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Finish</li>
                <li>Category: Identity</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Zone D'expansion Touristique</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <%= image_tag ("stade_de_setif_.jpg"), class: "img-fluid"%>
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Lines</li>
                <li>Category: Branding</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Promotions Immobilières</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <%= image_tag ("pimob.jpg"), class: "img-fluid"%>
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Southwest</li>
                <li>Category: Website Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Autres</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <%= image_tag ("Image3.jpg"), class: "img-fluid"%>
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Window</li>
                <li>Category: Photography</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript -->

<%= javascript_include_tag('jquery/jquery.min.js') %>
<%= javascript_include_tag('bootstrap.bundle.min.js') %>


<!-- Plugin JavaScript -->

<%= javascript_include_tag('jquery-easing/jquery.easing.min.js') %>
<!-- Contact form JavaScript -->

<%= javascript_include_tag('agency.min.js') %>
<!-- Custom scripts for this template -->

<%= javascript_include_tag('jqBootstrapValidation.js') %>
<%= javascript_include_tag('contact_me.js') %>
</body>

</html>