<table class="table table-responsive table-bordered table-hover table sortable" id="table_format">
  <thead>
  <tr>

      <th></th>
    <% if can? :update, @user %>
      <th></th>
      <th></th>
      <%end %>
    <th>Code zone</th>
    <th>Type zone</th>
    <th>Nom zone</th>
    <th>Commune</th>
    <th>Wilaya</th>
    <th>Superf total</th>
    <th>Superf cessible</th>
    <th>Superf vrd</th>
    <th>Nbr lots</th>
    <th>Nbr lots attribues</th>
    <th>Observation</th>

  </tr>
  </thead>

  <tbody>
  <% paginate.each do |zone_activite| %>
    <tr>

      <td><%= link_to '', zone_activite ,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
      <% if can? :update, @user %>
      <td><%= link_to '', edit_zone_activite_path(zone_activite) ,class:"fas fa-edit fa-2x btn-warning btn-lg"%></td>
      <td><%= link_to '', zone_activite, method: :delete, data: { confirm: 'Are you sure?' },class:"fas fa-trash fa-2x btn-danger btn-lg" %></td>
        <%end %>
        <td><%= zone_activite.code_zone %></td>
      <td><%= zone_activite.type_zone %></td>
      <td><%= zone_activite.nom_zone %></td>
      <td><%= zone_activite.commune %></td>
      <td><%= zone_activite.wilaya %></td>
      <td><%= zone_activite.superf_total %></td>
      <td><%= zone_activite.superf_cessible %></td>
      <td><%= zone_activite.superf_vrd %></td>
      <td><%= zone_activite.nbr_lots %></td>
      <td><%= zone_activite.nbr_lot_attribues %></td>
      <td><%= zone_activite.observation %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<br>
  <div class="row">
    <div class="col-sm-6">
      <div  id="dataTables-example_info" role="status" aria-live="polite">
        <span>Affichage  <%=paginate.length%> de <%= @total%> entrées</span>
      </div>
    </div>


    <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>


</div>
<script>
    $('#table_format').ddTableFilter();
</script>