<div class="row">
<table class="table table-responsive table-bordered table-hover table sortable">
  <thead>
  <tr>

      <th>Show</th>
    <% if can? :update, @user %>
      <th>Edit</th>
      <th>Destroy</th>
      <%end %>
    <th>Code zone</th>
    <th>Type zone</th>
    <th>Nom zone</th>


  </tr>
  </thead>

  <tbody>
  <% paginate.each do |zone_activite| %>
    <tr>

      <td><%= link_to 'Show', zone_activite ,class:"btn btn-success"%></td>
      <% if can? :update, @user %>
      <td><%= link_to 'Edit', edit_zone_activite_path(zone_activite) ,class:"btn btn-primary"%></td>
      <td><%= link_to 'Destroy', zone_activite, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
        <%end %>
        <td><%= zone_activite.code_zone %></td>
      <td><%= zone_activite.type_zone %></td>
      <td><%= zone_activite.nom_zone %></td>


    </tr>
  <% end %>
  </tbody>
</table>
<br>
  <div class="row">

  <div class="col-sm-6" >

    <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>

  </div>
</div>
</div>
