
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Zone activites</h6>
  </div>
  <div class="card-body">

    <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Code zone</th>
        <th>Type zone</th>
        <th>Nom zone</th>
        <th>Commune</th>
        <th>Wilaya</th>
        <th>Superf total</th>
        <th>Superf cessible</th>
        <th>Superf vrd</th>
        <th>Nbr lots</th>
        <th>Nbr lots attribues</th>
        <th>Observation</th>


        <th></th>
        <th></th>
        <th></th>


      </tr>
      </thead>
      <tbody>
      <% @zone_activitez.each do |zone_activite| %>
        <tr>

          <td><%= zone_activite.code_zone %></td>
          <td><%= zone_activite.type_zone %></td>
          <td><%= zone_activite.nom_zone %></td>
          <td><%= zone_activite.commune %></td>
          <td><%= zone_activite.wilaya %></td>
          <td><%= zone_activite.superf_total %></td>
          <td><%= zone_activite.superf_cessible %></td>
          <td><%= zone_activite.superf_vrd %></td>
          <td><%= zone_activite.nbr_lots %></td>
          <td><%= zone_activite.nbr_lot_attribues %></td>
          <td><%= zone_activite.observation %></td>

          <td><%= link_to '', zone_activite ,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
          <td><%= link_to '', edit_zone_activite_path(zone_activite) ,class:"fas fa-edit fa-2x btn-warning btn-lg"%></td>
          <td><%= link_to '', zone_activite, method: :delete, data: { confirm: 'Are you sure?' },class:"fas fa-trash fa-2x btn-danger btn-lg" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>





