<table class="table table-responsive table-striped table sortable">
  <thead>
  <tr>
    <th colspan="3"></th>

    <th>Num lot</th>
    <th>Activite</th>
    <th>Investisseur</th>
    <th>Type lot</th>
    <th>Situation physique</th>
    <th>Situation juridique</th>
    <th>Date act</th>
    <th>Num act</th>
    <th>Date attribution</th>
    <th>Date resolution</th>
    <th>Etat avancement</th>
    <th>Class activite</th>
    <th>Observation</th>

    <th>type zone</th>

  </tr>
  </thead>

  <tbody>
 <% paginate.each do |lot| %>
    <%# paginate.min_by(type_zone: 'ZI') do |lot| %>
    <tr>
      <td><%= link_to 'Show', lot ,class:"btn btn-md btn-success"%></td>
      <td><%= link_to 'Edit', edit_lot_path(lot) ,class:"btn btn-md btn-primary"%></td>
      <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-md btn-danger"%></td>

      <td><%= lot.num_lot %></td>
      <td><%= lot.activite %></td>
      <td><%= lot.investisseur %></td>
      <td><%= lot.type_lot %></td>
      <td><%= lot.situation_physique %></td>
      <td><%= lot.situation_juridique %></td>
      <td><%= lot.date_act %></td>
      <td><%= lot.num_act %></td>
      <td><%= lot.date_attribution %></td>
      <td><%= lot.date_resolution %></td>
      <td><%= lot.etat_avancement %></td>
      <td><%= lot.class_activite %></td>
      <td><%= lot.observation %></td>

      <td><%= lot.type_zone %></td>




    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <div  id="dataTables-example_info" role="status" aria-live="polite">
      <span>Affichage  <%=paginate.length%> de <%= @total%> entrées</span>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" style="position: absolute; right:13px; top: -20px">
      <%= will_paginate paginate, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , inner_window: 1 , previous_label: "Précédent", next_label: "Suivant"%>
    </div>
  </div>
</div>










